body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e8f0fe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor {
  background: white;
  padding: 30px;
  width: 95%;
  max-width: 450px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h1 {
  color: #1a73e8;
}

.boton {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #1a73e8;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
